.wrapper {
    width: 100%;
    margin-top: 32px;
    background-color: black;
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 200px;
}

.title {
    margin-top: 8px;
    font-family: 'Raleway', sans-serif;
    font-size: 46px;
}

.infoWrapper {
    padding-top: 64px;
}

.text {
    font-size: 24px;
    font-family: 'Raleway', serif;
    line-height: 32px;
}

.textPlayfair {
    font-size: 24px;
    font-family: 'Playfair Display', serif;
    line-height: 32px;
}

.rulesList {
    margin-top: 16px;
    margin-left: 24px;
    list-style: none;
}

.goldenText {
    font-size: 24px;
    font-family: 'Raleway', sans-serif;
    line-height: 32px;
}

.goldenText span {
    background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.rulesList li::before {
    content: "\2022";
    background: linear-gradient(to bottom, #cfc09f 22%, #634f2c 24%, #cfc09f 26%, #cfc09f 27%, #ffecb3 40%, #3a2c0f 78%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}